include README.md
include CODE_OF_CONDUCT.md
include requirements.txt
include setup.py
include setup.cfg
include LICENSE
include CREDITS.md
include examples
include forecasts
include hazard_results
include openquake_test

global-exclude .git*
global-exclude *.pyc
global-exclude *.html
global-exclude *.so
global-exclude *~
global-exclude .DS_Store